.button {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #000000;
  margin: 10px 30px;
  border-radius: 10px;
visibility: hidden;
}
.button.visible{
  transition: visibility 2s;

}

.button::after {
  content: "";
  width: 10px;
  height: 10px;
  color: transparent;
  position: absolute;
  border: 6px solid;
  top: 33px;
  right: 27px;
  border-top: solid #ffffff;
  border-right: solid #ffffff;
  transform: rotate(317deg) translate(50%);
  
  
}

.button.visible{
  visibility: visible;
}