.dark-mode {
  background: #242629;
}

.dark-mode .header {
  color: #fff;
}
.dark-mode .pokemon {
  background: #16161a;
}
.dark-mode .pokemon .stats {
  color: #fffffe;
}
.dark-mode .pokemon .info {
  color: #fffffe;
}
