.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  
  padding: 20px;
  align-items: center;
  
}

.logo {
  font-size: 30px;
  font-weight: 500;
}

.header div{
  width:200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github {
  width: 50px;
  height: 50px;
  transition: transform 2s;
}

.github:hover{
  transform: rotateX(360deg);

}
