.modal {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.modal.modal-active{
  display: flex;
}
.modal div {
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
}
