* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;

}

body {
  color: black;
  background: #eff0f3;
  font-family: Arial, sans-serif;
  transition: all 1s;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 50px;
}

.pokemon {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #fffffe;
  width: 250px;
  height: 340px;
  position: relative;
  transition: all 0.5s;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
}

.pokemon:hover {
  transform: translateY(-10px) scale(1.03);
}

.pokemon img {
  height: 100px;
  width: 100px;
  transition: all 1s;
  z-index: 3;
}

.section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  gap: 15px;
  border-radius: 10px;
  text-align: left;
  width: 85%;
}
.info {
  transform: translateY(0px);
  transition: all 1s;

}
.idPokemon {
  color: #919191;
  font-size: 16px;
}

.pokemon .namePokemon {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: normal;
}

.tipos {
  border-radius: 4px;
  margin-right: 8px;
  padding: 4px 10px;
}

section ol {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stats {
  transform: translateY(0px);
  position: absolute;
  opacity: 0;
  transition: all 1s;
  text-transform: capitalize;
}
.stats ol {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 10px 0;
}

.stats ol li p:last-child {
  color: #000;
  border-radius: 2px;
  padding: 1px 3px;
}
.stats li {
  width: 193px;
  text-align: justify;
}

.center {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  height: 150px;
}



.pokemon:focus .stats {
  opacity: 1;
  transform: translateY(70px);
}
.pokemon:focus .info {
  transform: translateY(-160px);
}

.pokemon:focus img {
  transform: translateY(-25px) translateX(65px);
}

button {
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: transparent;
}

.load {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #000;
  border: 3px solid;
  border-top-color: transparent;
  animation: load 0.5s linear infinite;
  display: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

@keyframes load {
  to {
    transform: rotate(360deg);
    filter: contrast(10);
  }
}
