* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background: #fff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 50px;
}

.pokemon {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #f2f2f2;
  width: 250px;
  height: 340px;
  position: relative;
  transition: all 0.5s;
}
.pokemon img {
  height: 100px;
  width: 100px;
  transition: all 1s;
  z-index: 3;
}

.section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  gap: 15px;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  width: 85%;
}
.info {
  transform: translateY(0px);
  transition: all 2s;
}
.idPokemon {
  color: #919191;
  font-size: 16px;
}

.pokemon .namePokemon {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: normal;
}

.tipos {
  margin-right: 10px;
  padding: 4px 10px;
}

section ol {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stats {
  position: absolute;
  opacity: 0;
  transform: translateY(0px);
  transition: all 2s;
}
.stats ol {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.stats ol li p {
  display: block;
  box-sizing: border-box;
}
.stats li {
  display: flex;
  width: 193px;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon:focus {
  outline: none;
  background: #868686;
}

.pokemon:focus .stats {
  opacity: 1;
  transform: translateY(80px);
}
.pokemon:focus .info {
  transform: translateY(-140px);
}

.pokemon:focus img {
  transform: translateX(65px);
}

button {
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: transparent;
}
