li[data-type] {
  color: black;
  text-transform: capitalize;
  font-weight: 400;
}
li[data-type="fire"] {
  background: red;
  color: var(--text-color-light) ;
}
li[data-type="grass"] {
  background: greenyellow;
}
li[data-type="water"] {
  background: blue;
  color: var(--text-color-light) ;
}
li[data-type="bug"] {
  background: #c0ee44ee;
}
li[data-type="normal"] {
  background: #ddd;
}
li[data-type="poison"] {
  background: blueviolet;
  color: var(--text-color-light) ;
}
li[data-type="electric"] {
  background: yellow;
}
li[data-type="ground"] {
  background: moccasin;
}
li[data-type="fighting"] {
  background: #e9a736;
}
li[data-type="psychic"] {
  background: violet;
}
li[data-type="rock"] {
  background: maroon;
  color: var(--text-color-light) ;
}
li[data-type="flying"] {
  background: #32a2ec;
}
li[data-type="ghost"] {
  background: #333333;
  color: var(--text-color-light) ;
}
li[data-type="ice"] {
  background: royalblue;
  color: var(--text-color-light) ;
}
li[data-type="dragon"] {
  background: rebeccapurple;
  color: var(--text-color-light) ;
}
li[data-type="steel"] {
  background: #706b6b;
}
li[data-type="dark"] {
  background: black;
  color: var(--text-color-light) ;
}
li[data-type="fairy"] {
  background: #ff1cf4;
  color: var(--text-color-light) ;
}
